{% extends "./layout.html" %}
{% block contents %}
  <div class="container board-container">
    <div class="row">
      <div class="col">
        <h1>글 수정</h1>
      </div>
    </div>
    <form class="container" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          {{ field.label_tag }}
          {{ field }}

          {% for error in field.errors %}
            <div class="form-text text-danger">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">제출</button>
      </div>
    </form>
  </div>
{% endblock %}
