{% extends "./layout.html" %}
{% block contents %}
  <div class="container board-container">
    <div class="row">
      <div class="col">
        <h1>게시판</h1>
      </div>
    </div>

    <div class="my-3" style="display:flex; justify-content: flex-end;">
      <div class="row">
        <a class="btn btn-success" href="./board-write.html" style="float:right">글 쓰기</a>
      </div>
    </div>
    <ul class="list-group row list-group-row">
      {% for board in board_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start col-12 col-md-6">

          {% comment %} <a class="ms-2 me-auto list-link" href="/board/{{ board.id }}"> {% endcomment %}
          <a class="ms-2 me-auto list-link" href="{% url 'board-detail' board.id  %}">
            <div class="fw-bold">{{ board.title }}</div>
            <div>
              {{ board.content | truncatechars:10  }}
            </div>
            <span>{{ board.nickname }}</span>
          </a>
          <span class="badge text-bg-primary rounded-pill">14</span>
        </li>
      {% endfor %}

    </ul>

  </div>
{% endblock %}
