<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">My-Board</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">홈</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/board">게시판</a>
          </li>
        </ul>

        <div class="d-flex">
          {% if user.is_authenticated %}
            <span class="mx-2" style="color:white;">{{user}}</span>
            <form method="post" action="{% url 'user:logout' %}">
              {% csrf_token %}
              <button class="btn btn-outline-success" type="submit">로그아웃</button>
            </form>
          {% else %}
            <a class="btn btn-outline-success" href="{% url 'user:login' %}">로그인</a>
            <a class="btn btn-outline-success" href="{% url 'user:register' %}">회원가입</a>
          {% endif %}
        </div>

      </div>
    </div>
  </nav>
</header>